<%= form_for [@manager , @project] do |form| %>
  <%= render 'layouts/errors', object: @project %>
  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
