<h3>Project Name <%= @project.name %></h3>
<h3>Owned by: <%= @project.manager.name %></h3>
<% if current_user.manager? %>
  <table style="width:100%" class="h4">
    <tr>
      <th>Developer ID</th>
      <th>Developer Name</th>
      <th>Action</th>
    </tr>
    <% @developers.each do |developer| %>
      <% if assigned?(@project, developer) %>
        <tr>
          <td><%= developer.id %></td>
          <td><%= developer.name %></td>
          <td><%= button_to "Remove", project_path(developer_id: developer.id), method: :patch, data: { turbolinks: false } %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= developer.id %></td>
          <td><%= developer.name %></td>
          <td><%= button_to "Add", project_path(developer_id: developer.id), method: :patch, data: { turbolinks: false } %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
<br>
<div class="text-center h4">
  <%= link_to "Back to projects", projects_path %>
</div>
