<%= form_for [@user , @project, @bug] do |form| %>
  <%= render 'layouts/errors', object: @bug %>

  <div class="form-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.file_field :screenshot, style: "display: block" %>
  </div>

  <div class="form-group">
    <%= form.label :deadline, style: "display: block" %>
    <%= form.datetime_select :deadline, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :kind, style: "display: block" %>
    <%= form.select :kind, ['Feature', 'Bug'], class: "form-control" %>
  <div>

  <div class="form-group">
    <%= form.label :stature, style: "display: block" %>
    <%= form.select :stature, ['New', 'Started', 'Completed'], class: "form-control" %>
  <div>

    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
