<% if @bugs.nil? %>
  <%= render "no_bugs" %>
<% else %>
  <% if current_user.developer? %>
    <h1>Your Bugs</h1>
    <% for bug in @bugs do %>
      <% if !(bug.developer.nil?) && (bug.developer.id == current_user.id) %>
        <p>Bug Title <%= bug.title %></p> <br>
        <%= link_to "View the bug", user_project_bug_path(id: bug.id) %>
      <% end %>
    <% end %>
    <h1>More unassigned bugs in the project</h1>
    <% for bug in @bugs do %>
      <% if bug.developer.nil? %>
        <p>Bug Title <%= bug.title %></p> <br>
        <%= link_to "View the bug", user_project_bug_path(id: bug.id) %>
      <% end %>
    <% end %>
  <% elsif current_user.qa? %>
    <% for bug in @bugs do %>
      <p>Bug Title <%= bug.title %></p> <br>
      <%= link_to "View the bug", user_project_bug_path(id: bug.id) %>
    <% end %>
  <% end %>
<% end %>
<%= link_to 'Back to projects', user_projects_path %>
