<% if @bugs.nil? %>
  <%= render "no_bugs" %>
<% else %>
  <% if current_user.developer? %>
    <div class="services section-padding bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-title text-center">
            <h3>Your Bugs</h3>
            <span class="section-title-line mt-20 mb-20"></span>
          </div>
            <% for bug in @bugs do %>
              <% if !(bug.developer.nil?) && (bug.developer.id == current_user.id) %>
                <%= render bug %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="services section-padding bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-title text-center">
            <h3>Unassigned Bugs In This Project</h3>
            <span class="section-title-line mt-20 mb-20"></span>
          </div>
          <% for bug in @bugs do %>
            <% if bug.developer.nil? %>
              <%= render bug %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% elsif current_user.qa? %>
    <div class="services section-padding bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-title text-center">
            <h3>Bugs In This Project</h3>
            <span class="section-title-line mt-20 mb-20"></span>
          </div>
          <% for bug in @bugs do %>
            <%= render bug %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="text-center mb-30 mt-50">
  <%= link_to 'Back to projects', user_projects_path, class: "btn btn-primary" %>
</div>
