<h3 class="display-inline"><%= @bug.kind %> Title: </h3> <h3 class="bug display-inline"><%= @bug.title %></h3><br>
<div class="mt-5">
  <h4 class="display-inline"><%= @bug.kind %> status:</h4> <h4 class="bug display-inline"><%= @bug.stature %></h4>
</div>
<div class="mt-10">
  <h4>Deadline: <%= @bug.deadline %></h4>
</div>
<div class="mt-5 mb-10">
  <div>
    <h4 class="display-inline"><%= @bug.kind %> description:</h4>
  </div>
  <div class="center mt-10 mb-10">
    <h5><%= @bug.description %></h5>
  </div>
</div>
<% if @bug.screenshot.attached? %>
  <div class="mt-10">
    <h4 class="display-inline">Screenshot:</h4>
  </div>
  <div class="img-fluid mx-auto">
    <%= image_tag(@bug.screenshot) %>
  </div>
<% end %>
<% if current_user.developer? %>
  <% if @bug.developer_id.nil? %>
    <%= link_to "Pick up this bug", user_project_bug_path(project_id: @bug.project_id, id: @bug.id), method: :patch, data: { turbolinks: false }, class: "btn btn-primary" %>
  <% elsif @bug.developer_id == current_user.id %>
    <% if @bug.kind == 'Bug' %>
      <% if @bug.stature == 'Resolved' %>
        <p>This bug has been resolved</p> <br>
      <% else %>
        <%= link_to "Mark this bug as resolved", user_project_bug_path(project_id: @bug.project_id, id: @bug.id, status: 'Resolved'), method: :patch, data: { turbolinks: false }, class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Drop this bug", user_project_bug_path(project_id: @bug.project_id, id: @bug.id), method: :patch, data: { turbolinks: false }, class: "btn btn-primary" %>
    <% else %>
      <% if @bug.stature == 'Completed' %>
        <p>This feature has been completed</p> <br>
      <% else %>
        <%= link_to "Mark this feature as completed", user_project_bug_path(project_id: @bug.project_id, id: @bug.id, status: 'Completed'), method: :patch, data: { turbolinks: false }, class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Drop this feature", user_project_bug_path(project_id: @bug.project_id, id: @bug.id), method: :patch, data: { turbolinks: false }, class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% elsif current_user.qa? %>
  <div class="row mt-20 mb-20">
    <div class="col-lg-2">
      <%= link_to "Edit this bug", edit_user_project_bug_path(project_id: @bug.project_id, id: @bug.id), class: "btn btn-primary" %>
    </div>
    <div class="col-lg-10">
      <%= button_to "Delete this bug", user_project_bug_path(project_id: @bug.project_id, id: @bug.id), method: :delete, data: { turbolinks: false }, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="text-center mt-20 mb-20">
  <%= link_to "Back to bugs", user_project_bugs_path, class: "btn btn-primary" %>
</div>
